body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 36px;
    color: #333;

    a {
        text-decoration: none;
        color: #09f;

        // nesting is also supported
        &:hover {
            text-decoration: underline;
        }
    }
    .loader {
        border: 16px solid #333333;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 240px;
        height: 240px;
        animation: spin 3s linear infinite;
        margin: auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .page {
        padding: 0px 5px 0px 10px;
    }

    .tophat {
        display: flex;
        flex-direction: row;
        padding: 5px 5px 3px 5px;
        border-style: none none solid;
        border-width: 2px;
        margin: 1px 1px 5px 1px;

        .title {
            order: 0;
            flex: 1 1 auto;
            font-size: 30px
        }

        .user {
            order: 1;
            flex: 0 1 auto;
            align-self: center;
        }
    }

    #service-keys {
        button.edit-close {
            margin: 2px 2px 2px 2px;
        }
    }

    .add-modal {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        .content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 600px;
            .headder {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
        }

    }
}
